.App small {
  font-size: 11px;
  line-height: 45px;
  margin-top: 10px;
  vertical-align: top;
}
.App a {
  text-decoration: none;
}
.App strong {
  font-size: 33px;
}

.App .weather-icon {
  max-width: 50%;
}

.App .content {
  border: none;
  border-radius: 6px;
  padding: 0 0 50px 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px auto;
  max-width: 600px;
  background: rgb(173, 173, 173);
}
.App .search-bar {
  padding: 10px 10px 10px 10px;
  margin: 50px 30px 30px 0;
  border-radius: 5px;
  border: none;
}
.App .button {
  padding: 10px;
  margin: 50px 30px 30px 0;
  background-color: rgb(190, 190, 190);
  border: 1px solid;
  border-radius: 5px;
  color: rgb(88, 88, 88);
}
.App .button:hover,
.App .location:hover {
  background-color: cadetblue;
  color: white;
}

.App .days {
  padding-bottom: 120px;
}
.App .conditions {
  margin: 10px 0 60px 0;
}
.App .sunny {
  font-size: 30px;
  margin: 10px 0 10px 0;
  color: rgb(242, 203, 0);
}

.App .city {
  font-size: 25px;
  font-weight: bold;
}
.App .actual-temp {
  font-size: 30px;
}

.App .btn-group {
  margin-right: 30px;
}

.App .link:hover {
  text-decoration: underline;
  color: rgb(0, 0, 214);
}
.App .celsius {
  color: black;
}

@media (max-width: 476px) {
  .content {
    max-width: 330px;
    display: block;
    margin: 0 auto;
  }
  .code-source {
    display: block;
    margin: 0 auto;
  }
}
